<% provide(:title,"All users")%>
<h1>All users</h1>

<%= will_paginate%>
<ul class="users">
  <% @users.each do |user|%>
    <%= render user %>
  <% end %>
  <!--<%= render @users %>　上の処理を１行にまとめた場合-->
</ul>

<%= will_paginate%>